<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= link_to "Edit my task", edittask_path %></p>
<p><%= link_to "Delete my task", delete_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<p><%= link_to "Back to list", tasks_path %></p>
